
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row img{
    width:100%;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
    font-family: Franklin Gothic Medium;
  }

  /*imaginile din paginile individuale*/
  .imagineSingle{
    margin:26px;
    width:30%;
    height:auto;
    text-align: right;
    float:left;

  }

  p.titleGame{
    font-size: 60px;
    font-family: Impact, Charcoal, sans-serif;
    margin-top:5px;
    margin-left:20px;
  }
  .descriere{
    padding: 5px;
    font-family: Franklin Gothic Medium;
  }
p.subTitleGame
{
  padding: 5px;
  border-bottom:  1px;
  font-size: 40px;
  font-family: Franklin Gothic Medium;
}
 