.gallery {
    margin-left: 26px;
    float: left;
    width: 30%;
  }
  
  .gallery:hover {
    opacity: 0.7;
  }
 
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
    font-family: Franklin Gothic Medium;
  }

  /*imaginile din paginile individuale*/
  .imagineSingle{
    margin:26px;
    width:30%;
    height:auto;
    text-align: right;
    float:left;

  }

  p.titleGame{
    font-size: 60px;
    font-family: Impact, Charcoal, sans-serif;
    margin-top:5px;
    margin-left:20px;
  }
  .descriere{
    padding: 5px;
    font-family: Franklin Gothic Medium;
  }
p.subTitleGame
{
  padding: 5px;
  border-bottom:  1px;
  font-size: 40px;
  font-family: Franklin Gothic Medium;
}
 